.mytext{
    font-size: 100px;
    color:blue;
}

@media (max-width:575.9px) {
    .mytext{
        font-size: 20px;
        color: red;
    }
    
}


@media(min-width:576px) and (max-width:767.9px){

}

@media(min-width:768px) and (max-width:999.9px){

}

@media(min-width:1000px) and (max-width:1199.9px){
    
}

@media(min-width:1200px) and (max-width:1399.9px){
    
}

@media(min-width:1400px){
    
}